html {
    color-scheme: dark;
}

body {
    font-family: 'DM-Sans', sans-serif;
    background-image: url("/assets/noise-texture.svg");
    @apply bg-neutral-900 bg-repeat text-gray-50;
    /* background: url(/assets/noise-texture.svg), linear-gradient(20deg, rgb(14, 14, 14) 49%, rgba(237, 221, 83, 0.10) 100%) no-repeat;
    height: 100vh; */
}

.pulse-shadow {
    -webkit-animation: pulseShadow 3s infinite;
}

@-webkit-keyframes pulseShadow {
    0%, 100% {
        filter: drop-shadow(0px 1px 0px lime);
    }

    50% {
        filter: drop-shadow(0px 1px 8px lime);
    }
}